<!DOCTYPE html>
<html>
  <head>
    <style>
      #map_canvas {
        width: 1280px;
        height: 720px;
      }
    </style>
  </head>
  <body ng-app="map.controllers" ng-controller="viewCtrl">
    <div style="display:inline-block">
      <div id="map_canvas"></div>
    </div>
    <div style="display:inline-block; vertical-align:top">
      <div ng-repeat="watchedTransition in watchedTransitions">
        <a href="javascript:;" ng-click="showMarkerInfo(watchedTransition);focusOn(watchedTransition.Point)">
        {{watchedTransition.Watch.DeviceName}} {{watchedTransition.Watch.WatchName}} at {{formatTimestamp(watchedTransition.Point.Timestamp)}}</a>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/map.factories.js"></script>
    <script src="/js/map.controllers.js"></script>
    <script type="text/javascript">
      var app = angular.module('map.controllers');
      app.value('mapElement', document.getElementById('map_canvas'));
    </script>
  </body>
</html>