<!DOCTYPE html>
<html>
  <head>
    <style>
      #map_canvas {
        width: 1280px;
        height: 720px;
      }
    </style>
  </head>
  <body ng-app="map.controllers" ng-controller="replayCtrl">
    <div id="map_canvas"></div>
    <span>{{time.toLocaleString()}} {{consecutiveMisses < 2 ? '' : 'Missing data'}}</span>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/map.factories.js"></script>
    <script src="/js/map.controllers.js"></script>
    <script>
      var app = angular.module('map.controllers');
      app.value('mapElement', document.getElementById('map_canvas'));
    </script>
  </body>
</html>